{% extends '_base.html' %}


{% block outer_content %}
<header>
    <div class="header-wrapper">
        <h1>Quotable
        <span class="help">
        	<i class="icon-info-sign"></i>
            <a href="https://github.com/nprapps/quotable">
            all credit: NPRapps
            </a>
        </span>
        </h1>
        <a class="toolkit-link" href="http://newsroom.registerguard.com">
            <span class="logo"><img src="./assets/rgw.png" alt="The Register-Guard" /></span>
            Newsroom Toolkit
        </a>
    </div>
</header>
<div class="content">
    <div class="poster-wrapper">
        <div class="poster quote poster-news">
            <span class="left-quote">&ldquo;</span>
            <blockquote><p></p></blockquote>

            <p class="source"></p>
            <p class="show-credit"></p>

            <div class="logo-wrapper">
        		<div class="logo logo-news logo-dark">The Register-Guard</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form controls col-md-12">
                <div class="controls-wrapper">
                    <div class="form-group">
                        <label for="fontsize">Font Size</label>
                        <input id="fontsize" name="fontsize" type="range" min="24" max="90" value="50">
                    </div>
                    <div class="form-group">
                        <label>Theme</label>
                        <div id="theme" class="btn-group-vertical">
                            <button id="news" class="btn btn-default btn-primary">Light</button>
                            <button id="dark" class="btn btn-default">Dark</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Aspect ratio</label>
                        <div id="aspect-ratio" class="btn-group">
                            <button id="square" class="btn btn-default btn-primary">Square</button>
                            <button id="sixteen-by-nine" class="btn btn-default">16:9 <small>(Twitter)</small></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Quotation marks</label>
                        <div id="quote" class="btn-group">
                            <button class="btn btn-primary">On</button>
                            <button class="btn btn-default">Off</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Source line</label>
                        <div id="sourceline" class="btn-group">
                            <button class="btn btn-primary">On</button>
                            <button class="btn btn-default">Off</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="show">Show Attribution <span class="help">(e.g. Eugene Police)</span></label>
                        <input id="show" class="form-control" name="fontsize" type="text">
                    </div>
                    <div class="form-group">
                        <button id="save" class="btn btn-lg btn-primary">Save image</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
